

/* Contêiner do banner */
.banner-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 80px;
}

/* Banners */
.banner {
    width: 100%;  
    height: auto;  
    display: none;
    position: relative;
}

/* Imagem dentro do banner */
.banner img {
    width: 100%;   
    height: auto;  
    object-fit: cover; 
    cursor: pointer; 
}

/* Botões de navegação */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

/* Botão à esquerda */
.left {
    left: 10px;
}

/* Botão à direita */
.right {
    right: 10px;
}

