.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.menu-description {
    text-align: center;
}

.menu-description h1{
    font-family: var(--font-family-2);
    margin-top: 2rem;
    font-size: 3em;
    font-weight: 600;
    padding-inline: 1.25rem;
    color: var(--cor-white);
}

.menu-description p {
    font-weight: 500;
    font-size: 1.2em;
    color: var(--cor-white);
    line-height: 2em;
    padding-inline: 1.25rem;
}

.menu-list {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   padding-inline: 1.25rem;
   gap: 50px;
   margin-top: 1rem;
}


.menu-list-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 220px;
}

.menu-list-item img {
    border: 1px solid white;

    width: 100%;
    max-width: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

 .menu-list-item img:hover {
    transform: scale(1.15);
 }

.menu-list-item p {
  text-align: center;
  color: var(--cor-white);
  font-weight: 500;
  
    
}
