@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Pacifico&family=Righteous&display=swap');


@import url(header.css);
@import url(home.css);
@import url(menu.css);


:root {
    --cor-primaria: #333333;
    --cor-secundaria: #ffcc00;
    --cor-white: #ffffff;
    --cor-botao: #d9534f;
    --cor-botao-sucesso: #28a745;;
    --cor-botao-hover: #ff6600;
    --font-family-1: "Mitr", sans-serif;
    --font-family-2: "Righteous", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-family-1);
}

body {
    min-height: 100vh;
    background-color: var(--cor-primaria);

}

a {
    cursor: pointer;
}







@media (max-width: 1024px) {

    .header-nav {
        display: none;
    }

    .nav-bars i {
        display: block;
    }
   

}

@media (max-width: 768px) {
    .banner-container {
        width: 90%;
        margin-top: 80px;
    }
    .arrow {
        font-size: 1.5rem;
        padding: 8px;
    }
    .menu-list {
        flex-direction: column;
    }
}

@media (max-width: 490px) {
    .arrow {
        font-size: 1rem;
    }
}